#root,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.form-section {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  margin: 16px 0;
  min-width: 600px;
}
.form-section h2 {
  cursor: pointer;
}

.form-personal,
.form-education,
.form-skills,
.form-experience {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-preview {
  min-width: 800px;
  min-height: 1100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.preview-main {
  display: flex;
}

.preview-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.preview-right {
  flex: 1;
}

.preview-name {
  font-size: 2.8rem;
}

input {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 12px;
  display: block; /* makes it take its own line */
  width: 100%; /* makes it span the whole container */
  box-sizing: border-box; /* ensures padding/border don’t overflow */
}
