#root, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    gap: 20px;
}

.form-section {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    margin: 16px 0;
}
.form-section h2 {
    cursor: pointer;
}

.form-personal, .form-education, .form-skills, .form-experience {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-preview {
    min-width: 1000px;
    background-color: #ccc;
    padding: 24px;
}

.preview-main {
    display: flex;
}

.preview-side {
    flex: 1;
}
.preview-right {
    flex: 2;
}