* {
  font-family: Inter, Arial, sans-serif;
}

#root,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  padding: 24px 0;
}


header {
  background-color: rgb(98, 107, 94);
  padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    max-width: 1430px;
    margin: 0 auto;
}
.header-content > h1{
    margin: 0;
    color: whitesmoke;
}

.header-actions {
    display: flex;
    gap: 12px;
}

.reset-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  background-color: #eeeeee;
  border-radius: 10px;
}
.reset-button:hover {
  background-color: rgb(220, 220, 220);
}

.download-button {
  padding: 10px 16px;
  background-color: #eeeeee;
  border-radius: 6px;
  font-weight: 400;
}

.download-button:hover {
  background-color: rgb(220, 220, 220);
}

h3 {
  margin: 0;
}

p {
  white-space: pre-line;
  
}

li {
  padding: 4px 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 14px;

  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  min-width: 400px;
  max-width: 400px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.form-section p {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  margin: 0;
}

/* form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
} */

.form-personal,
.form-education,
.form-skills,
.form-experience {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.education-list,
.experience-list,
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  padding-bottom: 12px;
}
.education-item,
.experience-item,
.skills-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.add-education-button,
.add-skill-button,
.add-experience-button {
  background-color: rgb(98, 107, 94);
  color: white;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.add-education-button:hover,
.add-skill-button:hover,
.add-experience-button:hover {
  background-color: rgb(78, 87, 74);
}

.form-preview {
  min-width: 900px;
  max-width: 900px;
  min-height: 1200px;
  max-height: 1400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
  zoom: 0.6;
}

.preview-main {
  display: flex;
}

.preview-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.preview-right {
  flex: 1.5;
}

.preview-name {
  font-size: 2.8rem;
  max-width: 600px;
}

.preview-contacts p {
  display: flex;
  align-items: center;
  gap: 12px;
}

.preview-experience .company {
  display: flex;
  justify-content: space-between;
}

.preview-experience .item {
  padding-bottom: 40px;
}

.preview-experience p {
  margin: 0;
}

.preview-experience .job-title {
  font-weight: 600;
  margin: 8px 0;
}

/* .section-title{
  border-bottom: 2px solid #999999;
} */

.preview-side .section-title {
  margin-right: 24px;
}

input {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 12px;
  display: block; /* makes it take its own line */
  width: 100%; /* makes it span the whole container */
  box-sizing: border-box; /* ensures padding/border don’t overflow */
}

textarea {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 12px;
  display: block; /* makes it take its own line */
  width: 100%; /* makes it span the whole container */
  box-sizing: border-box; /* ensures padding/border don’t overflow */
  min-height: 80px;
  resize: vertical;
}

@media print {
  .form-preview {
    width: 100% !important;
    margin: 0 !important;
    box-shadow: none !important;
    zoom: 1 !important;
  }
}